

@import url('./theme/colors.css');
@import url('./theme/fonts.css');
@import url('./theme/spacing.css');


@import url('./base/reset.css');
@import url('./base/typography.css');
@import url('./base/utilities.css');


@import url('./layout/grid.css');
@import url('./layout/sections.css');
@import url('./layout/header.css');
@import url('./layout/footer.css');


@import url('./modules/buttons.css');
@import url('./modules/cards.css');
@import url('./modules/forms.css');
@import url('./modules/hero.css');
@import url('./modules/pagination.css');
@import url('./modules/banners.css');
@import url('./modules/home.css');
@import url('./modules/empresas.css');
@import url('./modules/independientes.css');
@import url('./modules/cotizaciones.css');
@import url('./modules/contact.css');
@import url('./modules/nosotros.css');


@import url('./state/states.css');
